.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  opacity: 0.85;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-center-align{
  text-align: center;
}
